@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,500&display=swap');

/* переменные */
:root {
--color-fon-b: #131313;
--color-font-b: white;
--color-bronze: Salmon;
--color-lbronze: LightSalmon;
}


html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: var(--color-fon-b);
}
main {
	background-color: var(--color-fon-b);
}
.main-header {
	display: flex;
	max-height: 4.7rem;
	height: 4rem;
	width: 100%;
	z-index: 21;
}
.main-header.container {
	display: flex;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	height: 4rem;
	margin: 0 auto;
}

/* TOP NAV */
.top-nav {
	margin: auto;
	display: flex;
	max-height: 4rem;
	padding: 0.5rem;
	box-shadow: 0.1rem 0.1rem 1rem #555;
}
.logo {
	display: block;
	padding: 0.2rem;
}
.logo img {
	height: 100%;
	max-height: 4rem;
}
.top-nav_menu {
	display: flex;
	padding: 0;
	margin: 0 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
}
.top-nav_menu ul {
	display: flex;
}
.top-nav_menu li {
	display: inline-block;
	list-style: none;
	margin: auto;
	padding: 0.1rem 1rem;
	text-decoration: none;
}
.top-nav_menu li a{
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-fon-b) !important;
	font-weight: 500;
}
.top-nav_menu li:after{
	content: '';
	display: block;
	width: 100%;
	height: 0.2rem;
	background-color: #ffc107;
	transform: translateY(0.2rem) scale(0);
	transition: all 0.2s;
}
.top-nav_menu li:hover{
	text-decoration: none;
}
.top-nav_menu li:hover:after{
	transform: translateY(0.4rem) scale(1);
}
.form-inline {
	display: flex;
}
.btn .btn-success {
	margin-left: 1.5em;
}
/* End TOP NAV */

/* Доп Стили для Бутстрап */
.navbar-collapse {
    border: 1px solid #242424;
    border-radius: 1rem;
    padding: 0.3rem;
    background-color: white;
    align-items: center;
	z-index: 22;
}

.card:hover {
	box-shadow: 0 0 0.6rem 0.2rem rgba(0,0,0,0.4);
}

main .conteiner {
	margin-top: 1rem;
	padding-top: 1.2rem;
	background-color: var(--color-fon-b);
}
/* END - Доп Стили для Бутстрап */

article, aside {
	margin-top: 2rem!important;
	margin-bottom: 2rem;
}
.banner-item {
  opacity: 0.6;
  padding: 1rem;
	width:100%;
  border: 1px solid #252525;
  background-color: white;
  margin-bottom: 3rem;
  box-shadow: 0.1rem 0.2rem 2.5rem var(--color-bronze);
}
.banner-item img {
	width: 100%;
}
h1 {
	font: 2.2rem "Roboto", sans-serif!important;
	font-weight: 700;
	color: var(--color-bronze);
	text-transform: uppercase;
	margin-top: 1.5rem;
}
.podzagolovok {
	font: 1rem "Roboto", sans-serif!important;
	font-weight: 400;
	color: var(--color-bronze);
	font-style: italic;
	margin-bottom: 0.5rem;
}
.scheme * {
	cursor: pointer;
	
}
.scheme {
	display: flex;
	padding: 0.5rem 0.2rem;
	justify-content: center;
	#align-items: center;
	#border: 0.4rem dashed gold;
	#border-radius: 0.2rem;
	background-color: var(--color-fon-b);
	box-shadow: 0.1rem 0.2rem 1.5rem var(--color-bronze);
}
/*
.sheme_r.polovinka *{
	font-size: 1.5rem!important;
	width: 8%;
	height: 8%;
}
*/
.sheme_r.polovinka > *:nth-child(-n+9) {
		font-size: 1.6rem;
		width: 8.2%;
		height: 8.2%;
		border-width: 3px;
	}
.sheme_r.polovinka > *:nth-child(n+10):nth-child(-n+17) {
	#border: 2px dashed magenta;
	font-size: 1.3rem;
	width: 6.8%;
	height: 6.8%;
	border-width: 2px;
}
.sheme_r.polovinka > *:nth-child(n+17) {
	#border: 2px dashed purple;
	font-size: 1.1rem;
	width: 5.5%;
	height: 5.5%;
	border-width: 2px;
}

.sceme_wraper {
		#border: 2px solid purple;
	position: relative;
	width: 100%;
	height: 100%;
}
.schema_fon {
		#border: 2px solid magenta;
	position: relative;
	#top: 0;
	#left: 0;
	width: 100%;
	height: 100%;
}
.schema_fon img {
	position: inherit;
	width: 100%;
	height: 100%;
}
.sheme_r {
		#border: 2px solid green;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
/* sovmestimost */
.EEE {
	position: inherit;
	top: 45.7%;
	left: 45.7%;
	width: 4rem;
	height: 4rem;
	text-align: center;
	font-size: 2.1rem;
	font-weight: 600;
	color: var(--color-bronze);
	background-color: #ffff70;
	border: 0.3rem solid #ffe342;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}
.AAA {
	position: inherit;
	top: 50%;
	left: 9%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 600;
	color: white;
	background: radial-gradient(#bd3cde, #84009c);
	border: 0.3rem solid #c0a3fc;
	border-radius: 50%;
}
.BBB {
	position: inherit;
	top: 9%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 600;
	color: white;
	background: radial-gradient(#bd3cde, #84009c);
	border: 0.3rem solid #c0a3fc;
	border-radius: 50%;
}
.CCC {
	position: inherit;
	top: 50%;
	right: 9%;
	z-index: 10;
	transform: translate(50%, -50%);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 600;
	color: white;
	background-color: #ff8a86;
	border: 0.3rem solid #f42d31;
	border-radius: 50%;
}
.DDD {
	position: inherit;
	bottom: 9%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, 50%);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 600;
	color: white;
	background-color: #ff8a86;
	border: 0.3rem solid #f42d31;
	border-radius: 50%;
}
.FFF {
	position: inherit;
	top: 22.4%;
	left: 22.4%;
	z-index: 10;
	transform: translate(-70%, -70%);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 600;
	background-color: white;
	border: 0.2rem solid var(--color-bronze);
	border-radius: 50%;
}
.GGG {
	position: inherit;
	top: 22.4%;
	right: 22.4%;
	z-index: 10;
	transform: translate(70%, -70%);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 600;
	background-color: white;
	border: 0.2rem solid var(--color-bronze);
	border-radius: 50%;
}
.HHH {
	position: inherit;
	bottom: 22.4%;
	right: 22.4%;
	z-index: 10;
	transform: translate(70%, 70%);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 600;
	background-color: white;
	border: 0.2rem solid var(--color-bronze);
	border-radius: 50%;
}
.III {
	position: inherit;
	bottom: 22.4%;
	left: 22.4%;
	z-index: 10;
	transform: translate(-70%, 70%);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 600;
	background-color: white;
	border: 0.2rem solid var(--color-bronze);
	border-radius: 50%;
}

.AAA1 {
	position: inherit;
	top: 50%;
	left: 17%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#8482ff, #393cf7);
	border: 0.2rem solid #8482ff;
	border-radius: 50%;
}
.BBB1 {
	position: inherit;
	top: 17%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#8482ff, #393cf7);
	border: 0.2rem solid #8482ff;
	border-radius: 50%;
}
.CCC1 {
	position: inherit;
	top: 50%;
	right: 17%;
	z-index: 10;
	transform: translate(50%, -50%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: black;
	background-color: white;
	border: 0.2rem solid var(--color-fon-b);
	border-radius: 50%;
}
.DDD1 {
	position: inherit;
	bottom: 17%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, 50%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: black;
	background-color: white;
	border: 0.2rem solid var(--color-fon-b);
	border-radius: 50%;
}
.FFF1 {
	position: inherit;
	top: 22.1%;
	left: 22.1%;
	z-index: 10;
	transform: translate(10%, 10%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	background-color: white;
	border: 0.2rem solid var(--color-bronze);
	border-radius: 50%;
}
.GGG1 {
	position: inherit;
	top: 22.1%;
	right: 22.1%;
	z-index: 10;
	transform: translate(-10%, 10%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	background-color: white;
	border: 0.2rem solid var(--color-bronze);
	border-radius: 50%;
}
.HHH1 {
	position: inherit;
	bottom: 22.1%;
	right: 22.1%;
	z-index: 10;
	transform: translate(-10%, -10%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	background-color: white;
	border: 0.2rem solid var(--color-bronze);
	border-radius: 50%;
}
.III1 {
	position: inherit;
	bottom: 22.1%;
	left: 22.1%;
	z-index: 10;
	transform: translate(10%, -10%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	background-color: white;
	border: 0.2rem solid var(--color-bronze);
	border-radius: 50%;
}

.AAA2 {
	position: inherit;
	top: 50%;
	left: 23.3%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#37cbfc, #393cf7);
	border: 0.15rem solid #37cbfc;
	border-radius: 50%;
}
.BBB2 {
	position: inherit;
	top: 23.3%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#37cbfc, #393cf7);
	border: 0.15rem solid #37cbfc;
	border-radius: 50%;
}
.CCC2 {
	position: inherit;
	top: 50%;
	right: 23.3%;
	z-index: 10;
	transform: translate(50%, -50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background-color: #f78a00;
	border: 0.15rem solid #e7715a;
	border-radius: 50%;
}
.DDD2 {
	position: inherit;
	bottom: 23.3%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, 50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background-color: #f78a00;
	border: 0.15rem solid #e7715a;
	border-radius: 50%;
}
.FFF2 {
	position: inherit;
	top: 20.3%;
	left: 20.3%;
	z-index: 10;
	transform: translate(150%, 150%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-bronze);
	border-radius: 50%;
}
.GGG2 {
	position: inherit;
	top: 20.3%;
	right: 20.3%;
	z-index: 10;
	transform: translate(-150%, 150%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-bronze);
	border-radius: 50%;
}
.HHH2 {
	position: inherit;
	bottom: 20.3%;
	right: 20.3%;
	z-index: 10;
	transform: translate(-150%, -150%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-bronze);
	border-radius: 50%;
}
.III2 {
	position: inherit;
	bottom: 20.3%;
	left: 20.3%;
	z-index: 10;
	transform: translate(150%, -150%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-bronze);
	border-radius: 50%;
}

.AAA3 {
	position: inherit;
	top: 50%;
	left: 34%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#91f286, #6ecc0e);
	border: 0.15rem solid #91f286;
	border-radius: 50%;
}
.BBB3 {
	position: inherit;
	top: 34%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#91f286, #6ecc0e);
	border: 0.15rem solid #91f286;
	border-radius: 50%;
}




/* polovinki */

.E,.EE {
	position: inherit;
	top: 45.7%;
	left: 45.7%;
	width: 4rem;
	height: 4rem;
	text-align: center;
	font-size: 2.1rem;
	font-weight: 600;
	color: #gold;
	background-color: #ffff70;
	border: 0.3rem solid #ffe342;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}
.A,.AA {
  position: inherit;
  top: 50%;
  left: 9%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  color: white;
  background: radial-gradient(#bd3cde, #84009c);
  border: 0.3rem solid #c0a3fc;
  border-radius: 50%;
}
.B,.BB {
  position: inherit;
  top: 9%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  color: white;
  background: radial-gradient(#bd3cde, #84009c);
  border: 0.3rem solid #c0a3fc;
  border-radius: 50%;
}
.C,.CC {
  position: inherit;
  top: 50%;
  right: 9%;
  z-index: 10;
  transform: translate(50%, -50%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  color: white;
  background-color: #ff8a86;
  border: 0.3rem solid #f42d31;
  border-radius: 50%;
}
.D,.DD {
  position: inherit;
  bottom: 9%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 50%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  color: white;
  background-color: #ff8a86;
  border: 0.3rem solid #f42d31;
  border-radius: 50%;
}
.F,.FF {
  position: inherit;
  top: 22.4%;
  left: 22.4%;
  z-index: 10;
  transform: translate(-70%, -70%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  background-color: white;
  border: 0.2rem solid var(--color-fon-b);
  border-radius: 50%;
}
.G,.GG {
  position: inherit;
  top: 22.4%;
  right: 22.4%;
  z-index: 10;
  transform: translate(70%, -70%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  background-color: white;
  border: 0.2rem solid var(--color-fon-b);
  border-radius: 50%;
}
.H,.HH {
  position: inherit;
  bottom: 22.4%;
  right: 22.4%;
  z-index: 10;
  transform: translate(70%, 70%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  background-color: white;
  border: 0.2rem solid var(--color-fon-b);
  border-radius: 50%;
}
.I,.II {
  position: inherit;
  bottom: 22.4%;
  left: 22.4%;
  z-index: 10;
  transform: translate(-70%, 70%);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  background-color: white;
  border: 0.2rem solid var(--color-fon-b);
  border-radius: 50%;
}

.A1,.AA1 {
	position: inherit;
	top: 50%;
	left: 17%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#8482ff, #393cf7);
	border: 0.2rem solid #8482ff;
	border-radius: 50%;
}
.B1,.BB1 {
	position: inherit;
	top: 17%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#8482ff, #393cf7);
	border: 0.2rem solid #8482ff;
	border-radius: 50%;
}
.C1,.CC1 {
	position: inherit;
	top: 50%;
	right: 17%;
	z-index: 10;
	transform: translate(50%, -50%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: black;
	background-color: white;
	border: 0.2rem solid var(--color-fon-b);
	border-radius: 50%;
}
.D1,.DD1 {
	position: inherit;
	bottom: 17%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, 50%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: black;
	background-color: white;
	border: 0.2rem solid var(--color-fon-b);
	border-radius: 50%;
}
.F1,.FF1 {
	position: inherit;
	top: 22.1%;
	left: 22.1%;
	z-index: 10;
	transform: translate(10%, 10%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	background-color: white;
	border: 0.2rem solid var(--color-fon-b);
	border-radius: 50%;
}
.G1,.GG1 {
	position: inherit;
	top: 22.1%;
	right: 22.1%;
	z-index: 10;
	transform: translate(-10%, 10%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	background-color: white;
	border: 0.2rem solid var(--color-fon-b);
	border-radius: 50%;
}
.H1,.HH1 {
	position: inherit;
	bottom: 22.1%;
	right: 22.1%;
	z-index: 10;
	transform: translate(-10%, -10%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	background-color: white;
	border: 0.2rem solid var(--color-fon-b);
	border-radius: 50%;
}
.I1,.II1 {
	position: inherit;
	bottom: 22.1%;
	left: 22.1%;
	z-index: 10;
	transform: translate(10%, -10%);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	background-color: white;
	border: 0.2rem solid var(--color-fon-b);
	border-radius: 50%;
}

.A2,.AA2 {
	position: inherit;
	top: 50%;
	left: 23.3%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#37cbfc, #393cf7);
	border: 0.15rem solid #37cbfc;
	border-radius: 50%;
}
.B2,.BB2 {
	position: inherit;
	top: 23.3%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background: radial-gradient(#37cbfc, #393cf7);
	border: 0.15rem solid #37cbfc;
	border-radius: 50%;
}
.C2,.CC2 {
	position: inherit;
	top: 50%;
	right: 23.3%;
	z-index: 10;
	transform: translate(50%, -50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background-color: #f78a00;
	border: 0.15rem solid #e7715a;
	border-radius: 50%;
}
.D2,.DD2 {
	position: inherit;
	bottom: 23.3%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, 50%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background-color: #f78a00;
	border: 0.15rem solid #e7715a;
	border-radius: 50%;
}
.F2,.FF2 {
	position: inherit;
	top: 20.3%;
	left: 20.3%;
	z-index: 10;
	transform: translate(150%, 150%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-fon-b);
	border-radius: 50%;
}
.G2,.GG2 {
	position: inherit;
	top: 20.3%;
	right: 20.3%;
	z-index: 10;
	transform: translate(-150%, 150%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-fon-b);
	border-radius: 50%;
}
.H2,.HH2 {
	position: inherit;
	bottom: 20.3%;
	right: 20.3%;
	z-index: 10;
	transform: translate(-150%, -150%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-fon-b);
	border-radius: 50%;
}
.I2,.II2 {
	position: inherit;
	bottom: 20.3%;
	left: 20.3%;
	z-index: 10;
	transform: translate(150%, -150%);
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-fon-b);
	border-radius: 50%;
}


div.EM {
	position: inherit;
	bottom: 29.6%;
	right: 43.6%;
	z-index: 10;
	transform: translate(150%, -150%);
	width: 2.2rem;
	height: 2.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: white;
	border: 0.15rem solid var(--color-fon-b);
	border-radius: 50%;
}
div.LOVE {
	position: inherit;
	bottom: 22.5%;
	right: 49.5%;
	z-index: 10;
	transform: translate(150%, -150%);
	width: 2.1rem;
	height: 2.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 500;
	background-color: #FFC966;
	border: 0.15rem solid var(--color-fon-b);
	border-radius: 50%;
}
div.DENGI {
	position: inherit;
	bottom: 36.4%;
	right: 35.2%;
	z-index: 10;
	transform: translate(150%, -150%);
	width: 2.1rem;
	height: 2.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 500;
	background-color: #FFC966;
	border: 0.15rem solid var(--color-fon-b);
	border-radius: 50%;
}

/* Предназначение */

.container.prdnaznachenie {
	margin-top: 2rem;
}

span.NEBO, span.ZEML, span.SEB, span.RPM, span.RPZH, span.SOC, span.DUH, span.PLANET {
    width: 2.2rem;
    height: 2.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    border: 0.2rem solid var(--color-fon-b);
    border-radius: 50%;
}
span.SEB, span.SOC {
	position: relative;
	top: 1.2rem;
}
.fig-scob {
    font-size: 5rem;
    position: relative;
    top: -27%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    vertical-align: super;
    letter-spacing: 0;
	font-weight: 400;
}

/* Таблица по чакрам */
.table.table {
	box-shadow: 0.1rem 0.2rem 1.5rem #242424;
}
.table>:not(caption)>*>* {
  text-align: justify;
}
tr {
	background-color: #e2e2e2;
}
.chakr_podzagolovok {
	color: white;
	font-style: italic;
	font-size: 1.1rem;
	font-weight: 400;
}
.chakr_podzagolovok_b {
	color: black;
	font-style: italic;
	font-size: 1.1rem;
	font-weight: 400;
}
.chakr_opisan {
	background-color: #e2e2e2!important;
	color: black;
	border-bottom: 1px #252525;
	font-size: 1rem;
	font-weight: 400;
}
tr.chakr_opisan>td {
	margin:0;
	padding:0 0.5rem 0.4rem 2.5rem;
}

tr.saha td {
	background-color: #c0a3fc;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 700;
}
.saha th {
	background: radial-gradient(#bd3cde, #84009c);
	color: white;
	font-size: 1.3rem;
	padding:0.2rem 0 0.2rem 2.5rem!important;
	font-weight: 900;
}
tr.ajna td {
  background-color: #8482ff;
	text-align: center;
	font-size: 1.3rem;
  font-weight: 700;
}
.ajna th {
  background-color: #34009f!important;
  color: white;
	font-size: 1.3rem;
	padding:0.2rem 0 0.2rem 2.5rem!important;
  font-weight: 900;
}
tr.vishu td {
  background-color: #37cbfc;
	text-align: center;
	font-size: 1.3rem;
  font-weight: 700;
}
.vishu th {
  background-color: #393cf7!important;
  color: white;
	font-size: 1.3rem;
	padding:0.2rem 0 0.2rem 2.5rem!important;
  font-weight: 900;
}
tr.anah td{
  background-color: #91f286;
	text-align: center;
	font-size: 1.3rem;
  font-weight: 700;
}
.anah th {
  background-color: #6ecc0e!important;
  color: white;
	font-size: 1.3rem;
	padding:0.2rem 0 0.2rem 2.5rem!important;
  font-weight: 900;
}
tr.mani td {
  background-color: #ffff70;
	text-align: center;
	font-size: 1.3rem;
  font-weight: 700;
}
.mani th {
  background-color: #ffe342!important;
  color: black;
	font-size: 1.3rem;
	padding:0.2rem 0 0.2rem 2.5rem!important;
  font-weight: 900;
}
tr.svadhi td {
  background-color: #e7715a;
	text-align: center;
	font-size: 1.3rem;
  font-weight: 700;
}
.svadhi th {
  background-color: #f78a00!important;
  color: white;
	font-size: 1.3rem;
	padding:0.2rem 0 0.2rem 2.5rem!important;
  font-weight: 900;
}
tr.mula td {
  background-color: #ff8a86;
	text-align: center;
	font-size: 1.3rem;
  font-weight: 700;
}
.mula th {
  background-color: #f42d31!important;
  color: white;
	font-size: 1.3rem;
	padding:0.2rem 0 0.2rem 2.5rem!important;
  font-weight: 900;
}
.seven th {
  background-color: #e2e2e2!important;
  color: black;
  font-size: 1.3rem;
	padding:0.2rem 0 0.2rem 2.5rem!important;
  font-weight: 900;
}
tr.seven td {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
	background-color: #e2e2e2!important;
}
/* END Таблица по чакрам */

footer.main-footer {
	background-color: #232323!Important;
	margin-top: 3rem;
	padding: 2rem 0;
}
div.copy {
	display: flex;
	justify-content: right;
	align-items: center;
	padding-right: 2rem;
	color: #d5d5d5!Important;
}
div.footlogo {
	display: flex;
	max-height: 4rem;
	justify-content: center;
}
div.flogo {
	text-align: center;
	position: relative;
}
div.footlogo img {
	height: 100%;
}
div.footmenu {
	display: flex;
	justify-content: left;
	align-items: center;
}
menu.bottom-nav_menu {
	display: inline-block;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
}
menu.bottom-nav_menu ul {
	display: flex;
}
menu.bottom-nav_menu li {
	display: inline-block;
	list-style: none;
	margin: auto;
	padding: 0.1rem 1rem;
	text-decoration: none;
}
menu.bottom-nav_menu li a {
	color: #d5d5d5!Important;
	text-decoration: none;
}
menu.bottom-nav_menu li a:hover {
	color: white!Important;
	text-decoration: none;
	text-width:700;
}


@media (min-width: 1201px) and (max-width: 1400px) {
	html{font-size: 15px;}
	.scheme {width: 100%;}
	
	.sheme_r.polovinka > *:nth-child(-n+9) {
		font-size: 1.3rem;
		width: 7%;
		height: 7%;
	}
	.sheme_r.polovinka > *:nth-child(n+10):nth-child(-n+17) {
		#border: 2px dashed magenta;
		font-size: 1.15rem;
		width: 6.2%;
		height: 6.2%;
	}
	.sheme_r.polovinka > *:nth-child(n+17) {
		#border: 2px dashed purple;
		font-size: 1rem;
		width: 5.5%;
		height: 5.5%;
	}
	
	div.EM {
		bottom: 30.3%;
		right: 43.2%;
		transform: translate(150%, -150%);
		width: 2.2rem;
		height: 2.2rem;
		font-size: 1.4rem;
	}
	div.LOVE {
		bottom: 23.4%;
		right: 49.1%;
		transform: translate(150%, -150%);
		width: 2.1rem;
		height: 2.1rem;
		font-size: 1.1rem;
	}
	div.DENGI {
		bottom: 37.3%;
		right: 34.8%;
		transform: translate(150%, -150%);
		width: 2.1rem;
		height: 2.1rem;
		font-size: 1.1rem;
	}
	
}
@media (min-width: 992px) and (max-width: 1200px) {
	html{font-size: 21px;}
	.banners{display:none;}
	.scheme {width: 100%;}
	.sheme_r.polovinka > *:nth-child(-n+9) {
		font-size: 1.1rem;
		width: 7.2%;
		height: 7.2%;
		border-width: 2px;
	}
	.sheme_r.polovinka > *:nth-child(n+10):nth-child(-n+17) {
		#border: 2px dashed magenta;
		font-size: 0.9rem;
		width: 6.3%;
		height: 6.3%;
		border-width: 2px;
	}
	.sheme_r.polovinka > *:nth-child(n+17) {
		#border: 2px dashed purple;
		font-size: 0.7rem;
		width: 5.5%;
		height: 5.6%;
		border-width: 1px;
	}
	
	
}
@media (min-width: 769px) and (max-width: 991px) {
	html{font-size: 18px;}
	.navbar-collapse {
		padding: 2rem;
		z-index: 22;
	}
	nav.navbar.top-form {display: none;}
	.banners{display:none;}
	.scheme {width: 100%;}

	h5 {
		font-size: 1.2rem!important;
	}
	.sheme_r.polovinka > *:nth-child(-n+9) {
		font-size: 1rem;
		width: 7%;
		height: 7%;
		border-width: 2px;
	}
	.sheme_r.polovinka > *:nth-child(n+10):nth-child(-n+17) {
		#border: 2px dashed magenta;
		font-size: 0.8rem;
		width: 6.2%;
		height: 6.2%;
		border-width: 1px;
	}
	.sheme_r.polovinka > *:nth-child(n+17) {
		#border: 2px dashed purple;
		font-size: 0.6rem;
		width: 5.5%;
		height: 5.5%;
		border-width: 1px;
	}
	
}
@media (min-width: 576px) and (max-width: 767px) {
	html{font-size: 13px;}
	.navbar-collapse {
		padding: 2rem;
		z-index: 22;
	}
	nav.navbar.top-form {display: none;}
	.banners{display:none;}
	.scheme {width: 100%;}
	.sheme_r.polovinka > *:nth-child(-n+9) {
		font-size: 1.1rem;
		width: 7%;
		height: 7%;
		border-width: 1px;
	}
	.sheme_r.polovinka > *:nth-child(n+10):nth-child(-n+17) {
		#border: 2px dashed magenta;
		font-size: 1rem;
		width: 6.2%;
		height: 6.2%;
		border-width: 1px;
	}
	.sheme_r.polovinka > *:nth-child(n+17) {
		#border: 2px dashed purple;
		font-size: 0.8rem;
		width: 5.5%;
		height: 5.5%;
		border-width: 1px;
	}
}
@media (max-width: 575px) {
	html{font-size: 8px;}
	.navbar-collapse {
		padding: 2rem;
		z-index: 22;
	}

	nav.navbar.top-form {display: none;}
	.banners{display:none;}
	.scheme {width: 100%;}
	.sheme_r.polovinka > *:nth-child(-n+9) {
		font-size: 0.9rem;
		width: 7%;
		height: 7%;
	}
	.sheme_r.polovinka > *:nth-child(n+10):nth-child(-n+17) {
		font-size: 0.7rem;
		width: 6.2%;
		height: 6.2%;
	}
	.sheme_r.polovinka > *:nth-child(n+17) {
		font-size: 0.5rem;
		width: 5.5%;
		height: 5.5%;
	}
	
	
	h5 {
		font-size: 1.1rem!important;
	}
	div.EM {
		bottom: 29.1%;
		right: 43.8%;
		transform: translate(150%, -150%);
		width: 2rem;
		height: 2rem;
		font-size: 1.4rem;
	}
	div.LOVE {
		bottom: 22.5%;
		right: 49.5%;
		transform: translate(150%, -150%);
		width: 1.9rem;
		height: 1.9rem;
		font-size: 1.1rem;
	}
	div.DENGI {
		bottom: 36.2%;
		right: 35.4%;
		transform: translate(150%, -150%);
		width: 1.9rem;
		height: 1.9rem;
		font-size: 1.1rem;
	}
	
}

